.main {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 800px;
}

.main_header {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid gray; */
  height: 100px;
  font-size: 30px;
  font-weight: bold;
}

.todo_form {
  background-color: lightgray;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  padding: 30px;
}

.todo_input {
  align-items: center;
  display: flex;
  gap: 20px;
}

.todo_input span {
  font-size: 18px;
  font-weight: bold;
}

.todo_input input {
  border: none;
  border-radius: 10px;
  height: 40px;
  padding: 0 15px;
  width: 200px;
}

.todo_button {
  background-color: gray;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  height: 40px;
  width: 100px;
}

.todo_list {
  padding: 0 20px;
  margin: 40px 20px;
}

.todo_container {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 10px;
}

.todo_card {
  background-color: lightgray;
  border: none;
  border-radius: 10px;
  padding: 10px 20px 30px;
  width: 200px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.button {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  height: 30px;
  width: 50%;
}

.buttons_delete:hover {
  background-color: gray;
  color: red;
}

.buttons_complete:hover,
.buttons_cancel:hover {
  background-color: gray;
  color: lightgreen;
}

.app-style {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}

.component-style {
  border: 1px solid green;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
